<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="db_hotelreommendationsystemConnectionString" connectionString="Data Source=LAPTOP-19LNKF11\SQLEXPRESS;Initial Catalog=db_traveladviser;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <pages validateRequest="false" />
    <compilation debug="true" targetFramework="4.0"/>
  <httpRuntime requestValidationMode = "2.0" />
  </system.web>
</configuration>